/* Timeline Section */

.section-title {
  color: rgb(255 255 255);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.timeline-description {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  color: #85dffe;
}

.highlight {
  color: #4a9bff;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #002653;
  padding: 20px;
}

.timeline-phase {
  font-size: 14px;
  color: #85dffe;
  text-align: start;
}

.timeline-days {
  font-size: 14px;
  text-align: right;
  color: white;
}

.total {
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #002653;
}

.technology-section img {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  display: block;
}

.tech-item {
  display: grid;
  grid-template-columns: 15% 40% 45%;
  gap: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  text-align: left;
  color: white;
}

.tech-title {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.tech-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-items: center;
  align-items: center;
  border: 1px solid #002653;
  margin: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.description {
  position: relative;
  font-size: 12px;
  line-height: 1.6;
  max-width: 95%;
  color: #85dffe;
  font-weight: 500;
}
