/* proposal.css */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
.proposal-wrapper {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

.page {
  /* margin-bottom: 40px; */
  padding: 20px;
  height: 842px;
  width: 595px;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  background-image: url("/assets/bgimage.png");
  background-size: 100% 100%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.page-counter {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #85dffe;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
}






