/* proposal.css */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
.proposal-wrapper {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

.page {
  /* margin-bottom: 40px; */
  padding: 20px;
  height: 842px;
  width: 595px;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  background-image: url("/assets/bgimage.png");
  background-size: 100% 100%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.first-page {
  background-image: url("/assets/first_page_bg.png") !important;
  background-size: 100% 100%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.first-page .proposal_to {
  margin-top: 40%;
  padding: 0 40px;
}
.first-page .proposal_to .header {
  font-size: 18px;
  font-weight: 400;
  color: #85dffe;
  text-align: start;
  margin: 0;
}

.first-page .proposal_to .sub-header {
  font-size: 44px;
  text-align: start;
  font-weight: 700;
  color: #85dffe;
  margin: 20px 0px 0px 0px;
}

.first-page .proposal_to .title {
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  text-align: start;
  margin: 0;
}
.first-page .date {
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
  position: absolute;
  bottom: 40px;
  left: 60px;
}
.contents_table {
  padding-top: 200px;
}
.contents_table .title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.contents_details {
  width: 400px;
  margin: 130px auto 0 auto;
}
.contents_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.75px solid #4f81bd;
  padding: 16px 0;
}
.contents_page .page_title {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.contents_page .page_no {
  color: #85dffe;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.extraordinary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.extraordinary .title1 {
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
}
.extraordinary .title2 {
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.extraordinary .title3 {
  margin: 0;
  font-size: 24px;
  color: #85dffe;
  font-weight: 400;
  margin-top: 44px;
}
.extraordinary .title4 {
  margin: 0;
  font-size: 24px;
  color: #85dffe;
  font-weight: 700;
}
.extraordinary_img {
  width: 530px;
  height: 420px;
  margin:  30px auto 0 auto;
}
